/*
 * -------------------------------------
 * CSS VARIABLES
 * -------------------------------------
 */

:root {
  --primary-color: #4c9cd1;
  --secondary-color: #c90202;
  --text-primary: #212121;
  --text-secondary: #757575;
  --divider: #f9f9f9;
  --background: #fff;
}

/*
 * -------------------------------------
 * GLOBAL STYLES
 * -------------------------------------
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  max-width: 100%;
}

/*
 * -------------------------------------
 * GENERAL PAGE LAYOUT
 * -------------------------------------
 */

/*
The website has a standard one column layout, with all elements stacked on top of each other. When filtering restaurants in a way that finds no listings (e.g. Manhattan > Mexican), the Footer section jumps up to the middle of the screen, if user is on a large enough display. The code below corrects this behavious and keeps Footer at the bottom of the page/viewport, without making it sticky.

1.  Sets body to flex one column and gives it a minimum height of 100%
    of the viewport as a minimum height.
2.  Main site content flex-grows to occupy any space left on the body and
    push footer to the bottom of the viewport.

Credit to Philip Walton for the solution:
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

*/

/* [1] */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* [2] */
.site__content {
  flex: 1;
}

/*
 * -------------------------------------
 * HEADER & NAVIGATION STYLES
 * -------------------------------------
 */

.site__header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--divider);
}

.site__nav {
  margin: 0 auto;
}

.link--nav {
  font-family: "Abril Fatface", "Times New Roman", Times, Georgia, serif;
  font-weight: normal;
  letter-spacing: 0.125em;
  text-decoration: none;
  color: var(--text-primary);
  border-bottom: 1px solid var(--primary-color);
}

.link--nav:hover {
  color: var(--text-primary);
  text-decoration: none;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--secondary-color);
}

.site__breadcrumbs {
  padding: 2em 1em;
  list-style: none;
  font-size: 0.8rem;
}

/* Display list items side by side */
.site__breadcrumbs li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.site__breadcrumbs li + li:before {
  padding: 0.5rem;
  color: var(--text-secondary);
  content: "/\00a0";
}

.site__breadcrumbs li a {
  color: var(--text-secondary);
  text-decoration: none;
}

.site__breadcrumbs li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/*
 * -------------------------------------
 * MAP STYLES
 * -------------------------------------
 */

.map {
  height: 55vh;
  width: 100%;
}

/*
 * -------------------------------------
 * RESTAURANT FILTERING STYLES
 * -------------------------------------
 */

.filter-options {
  width: 100%;
  min-height: 10vh;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--divider);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.filter-options h2 {
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  align-self: center;
  margin-right: 1.25em;
}

.filter-options select {
  background-color: var(--divider);
  border: 1px solid var(--primary-color);
  height: 35px;
  letter-spacing: 0;
  margin: 0.625em;
  padding: 0 0.625em;
  width: 200px;
}

/*
 * -------------------------------------
 * RESTAURANT LISTING STYLES
 * -------------------------------------
 */

.restaurants__list {
  list-style: outside none none;
  text-align: center;
}

.restaurants__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--divider);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.restaurants__list li:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.restaurants__list li h1 {
  color: var(--text-primary);
  font-size: 1.5em;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;
  padding: 1em 0.5rem;
}

.restaurants__list p {
  color: var(--text-secondary);
  font-size: 1em;
  line-height: 120%;
  margin: 0;
  padding: 0.5em 0.5rem;
}

.restaurants__list p:first-of-type {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--secondary-color);
  letter-spacing: 0.1em;
}

.restaurants__list p:last-of-type {
  padding: 1em 0.5rem;
}

.restaurants__list li a {
  background-color: var(--primary-color);
  border-bottom: 3px solid var(--divider);
  color: var(--background);
  display: inline-block;
  /* 'margin-top: auto' aligns item to bottom of container */
  margin: auto 0.3125em 0.9375em;
  padding: 0.5em 1.875em 0.625em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.restaurants__list li a:hover {
  background-color: var(--secondary-color);
}

/*
 * -------------------------------------
 * RESTAURANT DETAILS STYLES
 * -------------------------------------
 */

.restaurant__container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 95vw;
  margin: 3vmin auto;
  max-width: 75rem;
}

.restaurant--name {
  color: var(--text-primary);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0.3em 0;
  line-height: 1.2;
}

.restaurant--address {
  font-size: 1rem;
  padding-bottom: 1em;
}

.restaurant--cuisine {
  color: var(--primary-color);
  display: inline;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.625em;
  text-align: left;
  text-transform: uppercase;
}

.restaurant__hours td {
  color: #666;
}

/*
 * -------------------------------------
 * RESTAURANT REVIEWS STYLES
 * -------------------------------------
 */

.reviews__container {
  max-width: 50rem;
  margin: 15vmin auto 5vmin;
}

.reviews__container h2 {
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.625em;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__list li {
  border: 2px solid var(--divider);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;
}

.reviews__list li p {
  margin: 0 0 0.625em;
}

.reviews__list li p:first-of-type {
  color: var(--primary-color);
  font-weight: 800;
}

.reviews__list li p:nth-child(3) {
  color: var(--secondary-color);
}

/*
 * -------------------------------------
 * FOOTER STYLES
 * -------------------------------------
 */

.site__footer {
  background-color: var(--divider);
  color: var(--text-secondary);
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 2em;
  padding: 1.5625em;
  text-align: center;
  text-transform: uppercase;
}

.footer__link {
  color: var(--primary-color);
}

.footer__link:hover {
  color: var(--secondary-color);
}

/*
 * -------------------------------------
 * FUKOL GRID LAYOUT
 * -------------------------------------
 */

.grid__container {
  width: 95vw;
  margin: 2em auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid--main-page > * {
  flex: 1 0 14em; /* Roughly how wide each column will be */
  margin: 1em; /* Grid gutter */
  min-width: 0;
  min-height: 0;
}

.grid--restaurant > .grid__child {
  flex: 0 0 100%; /* Each column assumes 100% width */
  padding: 1em;
  min-width: 0;
  min-height: 0;
}

/*
 * -------------------------------------
 * CSS LOCKS
 * -------------------------------------
 */

/*
 CSS Locks are used for fluid typography and fluid responsiveness, by defining minimum and maximum font sizes that will scale between two specific viewport widths.

 1. Font size is 1em of whatever user has set on his browser (usually 16px) 
    until a viewport width of 37.5em (600px). Afterwards font-size fluidly increases to 1.5em (24px) until a viewport width of 112.5em (1800px).
 2. Where: * 0.6667 = 100 * (font-size-difference / viewport-width-difference).
 3. Prevent font scaling beyond this breakpoint.

 For more info about how CSS Locks work:
 https://silvantroxler.ch/2018/relative-css/
 https://www.smashingmagazine.com/2016/05/fluid-typography/
 https://websemantics.uk/tools/responsive-font-calculator/
*/

/* [1] */
@media (min-width: 37.5em) {
  :root {
    font-size: calc(1rem + ((1vw - 0.375em) * 0.6667)); /* [2] */
  }
}

/* [3] */
@media (min-width: 112.5em) {
  :root {
    font-size: 1.5em;
  }
}

/*
 * -------------------------------------
 * MEDIA QUERIES
 * -------------------------------------
 */

@media screen and (min-width: 50em) {
  .grid__container {
    width: 70vw;
  }

  .grid--restaurant > .grid__child {
    flex: 1; /* Each column takes 1/2 of available space */
  }

  .restaurant__container {
    width: 75vw;
    margin: 4em auto;
  }

  .reviews__container {
    width: 50vw;
    margin: 8em auto 2em;
  }

  .restaurants__list li h1 {
    font-size: 1.25em;
  }
}
