/*
 * -------------------------------------
 * CSS VARIABLES
 * -------------------------------------
 */

:root {
  --primary-color: #f00;
  --secondary-color: #4c9cd1;
  --text-primary: #212121;
  --text-secondary: #757575;
  --divider: #f9f9f9;
  --background: #fff;
}

/*
 * -------------------------------------
 * GLOBAL STYLES
 * -------------------------------------
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover,
a:focus,
a:active,
a:visited {
  color: var(--text-primary);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary-color);
}

/*
 * -------------------------------------
 * GENERAL PAGE LAYOUT
 * -------------------------------------
 */

/*
The website has a standard one column layout, with all elements stacked on top of each other. When filtering restaurants in a way that finds no listings (e.g. Manhattan > Mexican), the Footer section jumps up to the middle of the screen, if user is on a large enough display. The code below corrects this behavious and keeps Footer at the bottom of the page/viewport, without making it sticky.

1.  Sets body to flex one column and gives it a minimum height of 100%
    of the viewport as a minimum height.
2.  Main site content flex-grows to occupy any space left on the body and
    push footer to the bottom of the viewport.

Credit to Philip Walton for the solution:
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

*/

/* [1] */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* [2] */
.site__content {
  flex: 1;
}

/*
 * -------------------------------------
 * HEADER & NAVIGATION STYLES
 * -------------------------------------
 */

.site__header {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site__nav {
  margin: 0 auto;
}

.link--nav {
  font-family: "Abril Fatface", "Times New Roman", Times, Georgia, serif;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 0.5rem;
  text-decoration: none;
}

.link--nav:hover {
  text-decoration: none;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--primary-color);
}

.site__breadcrumbs {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: var(--background);
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */
.site__breadcrumbs li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.site__breadcrumbs li + li:before {
  padding: 8px;
  color: var(--text-secondary);
  content: "/\00a0";
}

.site__breadcrumbs li a {
  color: var(--text-primary);
  text-decoration: none;
}

.site__breadcrumbs li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/*
 * -------------------------------------
 * MAP STYLES
 * -------------------------------------
 */

.map {
  height: 55vh;
  width: 100%;
}

/*
 * -------------------------------------
 * RESTAURANT FILTERING STYLES
 * -------------------------------------
 */

.filter-options {
  width: 100%;
  min-height: 10vh;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-options h2 {
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  align-self: center;
  margin-right: 20px;
}

.filter-options select {
  background-color: var(--divider);
  border: 1px solid var(--secondary-color);
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/*
 * -------------------------------------
 * RESTAURANT LISTING STYLES
 * -------------------------------------
 */

.restaurants__list {
  list-style: outside none none;
  text-align: center;
}

.restaurants__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--divider);
  border: 1px solid var(--text-primary);
}

.restaurants__list li:hover {
  border: 1px solid var(--secondary-color);
}

.restaurants__list .restaurant-img {
  max-width: 100%;
}

.restaurants__list li h1 {
  color: var(--text-primary);
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
}

.restaurants__list p {
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 0.5rem;
}

.restaurants__list li a {
  justify-self: flex-end;
  background-color: var(--text-primary);
  border-bottom: 3px solid var(--divider);
  color: var(--background);
  display: inline-block;
  margin: 15px 5px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.restaurants__list li a:hover {
  background-color: var(--secondary-color);
}

/*
 * -------------------------------------
 * RESTAURANT DETAILS STYLES
 * -------------------------------------
 */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/*
 * -------------------------------------
 * FOOTER STYLES
 * -------------------------------------
 */

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/*
 * -------------------------------------
 * FUKOL GRID LAYOUT
 * -------------------------------------
 */

.grid {
  /* width: calc(100% - 2em); Compensate for gutter */
  width: 50vw;
  margin: 2em auto;
}

.grid__container {
  display: flex;
  flex-wrap: wrap;
}

.grid__container > * {
  flex: 1 0 16em; /* Roughly how wide each column will be */
  margin: 1em; /* Grid gutter */
  min-width: 0;
  min-height: 0;
}

/*
 * -------------------------------------
 * MEDIA QUERIES
 * -------------------------------------
 */
