/*
 * -------------------------------------
 * CSS VARIABLES
 * -------------------------------------
 */

:root {
  --primary-color: #4c9cd1;
  --secondary-color: #c90202;
  --text-primary: #212121;
  --text-secondary: #757575;
  --divider: #f9f9f9;
  --background: #fff;
}

/*
 * -------------------------------------
 * GLOBAL STYLES
 * -------------------------------------
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

/*
 * -------------------------------------
 * GENERAL PAGE LAYOUT
 * -------------------------------------
 */

/*
The website has a standard one column layout, with all elements stacked on top of each other. When filtering restaurants in a way that finds no listings (e.g. Manhattan > Mexican), the Footer section jumps up to the middle of the screen, if user is on a large enough display. The code below corrects this behavious and keeps Footer at the bottom of the page/viewport, without making it sticky.

1.  Sets body to flex one column and gives it a minimum height of 100%
    of the viewport as a minimum height.
2.  Main site content flex-grows to occupy any space left on the body and
    push footer to the bottom of the viewport.

Credit to Philip Walton for the solution:
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

*/

/* [1] */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* [2] */
.site__content {
  flex: 1;
}

/*
 * -------------------------------------
 * HEADER & NAVIGATION STYLES
 * -------------------------------------
 */

.site__header {
  width: 100vw;
  height: 20vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--divider);
}

.site__nav {
  margin: 0 auto;
}

.link--nav {
  font-family: "Abril Fatface", "Times New Roman", Times, Georgia, serif;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 0.5rem;
  text-decoration: none;
  color: var(--text-primary);
  border-bottom: 1px solid var(--primary-color);
}

.link--nav:hover {
  color: var(--text-primary);
  text-decoration: none;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--secondary-color);
}

.site__breadcrumbs {
  padding: 2em 1em;
  list-style: none;
  font-size: 1rem;
  /*   margin: 0;
  width: calc(50% - 80px); */
}

/* Display list items side by side */
.site__breadcrumbs li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.site__breadcrumbs li + li:before {
  padding: 8px;
  color: var(--text-secondary);
  content: "/\00a0";
}

.site__breadcrumbs li a {
  color: var(--text-secondary);
  text-decoration: none;
}

.site__breadcrumbs li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/*
 * -------------------------------------
 * MAP STYLES
 * -------------------------------------
 */

.map {
  height: 55vh;
  width: 100%;
}

/*
 * -------------------------------------
 * RESTAURANT FILTERING STYLES
 * -------------------------------------
 */

.filter-options {
  width: 100%;
  min-height: 10vh;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--divider);
}

.filter-options h2 {
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  align-self: center;
  margin-right: 20px;
}

.filter-options select {
  background-color: var(--divider);
  border: 1px solid var(--primary-color);
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/*
 * -------------------------------------
 * RESTAURANT LISTING STYLES
 * -------------------------------------
 */

.restaurants__list {
  list-style: outside none none;
  text-align: center;
}

.restaurants__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--divider);
  border: 1px solid var(--text-primary);
}

.restaurants__list .restaurant-img {
  max-width: 100%;
}

.restaurants__list li h1 {
  color: var(--text-primary);
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0.5rem 2rem;
}

.restaurants__list p {
  color: var(--text-secondary);
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding: 0 0.5rem 0.5rem;
}

.restaurants__list p:last-of-type {
  padding-bottom: 1rem;
}

.restaurants__list li a {
  background-color: var(--primary-color);
  border-bottom: 3px solid var(--divider);
  color: var(--background);
  display: inline-block;
  /* 'margin-top: auto' aligns item to bottom of container */
  margin: auto 5px 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.restaurants__list li a:hover {
  background-color: var(--secondary-color);
}

/*
 * -------------------------------------
 * RESTAURANT DETAILS STYLES
 * -------------------------------------
 */

.restaurant__container,
.reviews__container {
  width: 75vw;
  margin: 4em auto;
}

.restaurant--name {
  color: var(--text-primary);
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 15px 0 40px;
  line-height: 1.2;
}

.restaurant--img {
  max-width: 100%;
}

.restaurant--address {
  font-size: 12pt;
  margin: 10px 0px;
}
.restaurant--cuisine {
  color: var(--primary-color);
  padding-bottom: 0.5em;
  display: inline;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 20px 0 40px;
  text-align: left;
  text-transform: uppercase;
}

.reviews__container h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 24pt;
  font-weight: 300;
  padding-bottom: 1pt;
}
.reviews__list {
  margin: 0;
  padding: 0;
}
.reviews__list li {
  border: 2px solid var(--divider);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;
}
.reviews__list li p {
  margin: 0 0 10px;
}
.restaurant__hours td {
  color: #666;
}

/*
 * -------------------------------------
 * FOOTER STYLES
 * -------------------------------------
 */

.site__footer {
  background-color: var(--divider);
  color: var(--text-secondary);
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 2em;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.footer__link {
  color: var(--primary-color);
}

.footer__link:hover {
  color: var(--secondary-color);
}

/*
 * -------------------------------------
 * FUKOL GRID LAYOUT
 * -------------------------------------
 */

.grid {
  width: 70vw;
  margin: 2em auto;
}

.grid__container {
  display: flex;
  flex-wrap: wrap;
}

.grid__container > * {
  flex: 1 0 14em; /* Roughly how wide each column will be */
  margin: 1em; /* Grid gutter */
  min-width: 0;
  min-height: 0;
}

/*
 * -------------------------------------
 * MEDIA QUERIES
 * -------------------------------------
 */
